//variables
$primary-black: #0C1E1A;
$primary-blue: #90e0ef;
$primary-purple: #CDB4DB;
$primary-brown: #D6C0B3;
$secondary-pink: #FFC8DD;
$secondary-sage: #E4EFEC;
$secondary-white: #FBF4EF;
$secondary-blue: #B8BEDD;
$secondary-brown: #A78682;
$background-green: #D6CE93;
$background-sage: #a3a380;
$background-brown: #e3d5ca;
$error-red: #B10606;

//responsive design breakpoints
$tablet-breakpoint: 48rem; //768px
$desktop-breakpoint: 80rem; //1280px