// CafeOfTheWeek.scss
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.cafe-page-wrapper {
    display: flex;
    flex-direction: column;
}

// .cafe-content {
//     // flex: 1 0 auto;
// }

.cafeweekly__container {
    max-width: 56.25rem;
    margin: 2rem auto;
    padding: 1rem;

    &-heading {
        text-align: center;
        margin-bottom: 2rem;
        font-family: 'Jua-Regular';
        color: $secondary-brown;
        @include heading;
    }
}

.cafe__weekly {
    display: flex;
    gap: 2rem;
    background: $secondary-sage;
    border-radius: 1.25rem;
    border: .125rem solid $background-green;
    padding: 1.5rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.1);

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        .cafe-weekly-image {
            width: 100%;
            max-height: 21.875rem;
            object-fit: cover;
            border-radius: 1.25rem;
            border: .0625rem solid $primary-blue;
        }
    }

    &__details {
        flex: 1;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        @include mobile {
            gap: .5rem;
        }

        .cafe__weekly__tag {
            background: $secondary-white;
            padding: 0.3rem 0.8rem;
            border-radius: .75rem;
            border: .0625rem solid $primary-blue;
            @include buttonlabel-text;
            display: flex;

            &:hover {
                background-color: $secondary-blue;
            }
        }
    }

    &__info {
        margin-bottom: 1rem;
        font-family: 'Outfit-Light';
        font-weight: 600;
        line-height: .9375rem;
        font-size: .75rem;
        @include tablet {
            font-size: 1.125rem; // Tablet & Desktop
            line-height: 1.625rem;
            font-weight: 600;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #666;
        margin-bottom: .5rem;

        &:hover {
            color: $background-green;
        }
    }

    &__name {
        font-family: "Jua-Regular";
        color: #3c2f2f;
        margin-bottom: .5rem;
    }

    &__rating {
        color: #62B6CB;
        margin-bottom: .5rem;
        @include buttonlabel-text;
        font-family: "Outfit-Medium";
    }

    &__description {
        color: #666;
        margin: 1rem 0;
        margin-bottom: 1rem;
        font-family: 'Outfit-Light';
        font-weight: 600;
        line-height: .9375rem;
        font-size: .75rem;
        @include tablet {
            font-size: .875rem; // Tablet & Desktop
            line-height: 1.625rem;
            font-weight: 600;
        }
    }

    &__address {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .25rem;
        color: #62B6CB;
        font-family: "Jua-Regular" !important;
        @include small-body-copy;

        @include tablet {
            font-size: .875rem; // Tablet & Desktop
            line-height: 1.625rem;
            font-weight: 600;
        }

        &:hover {
            color: #8c97c9;
        }
    }
    

    &__location {
        color: #8c97c9;
        margin-bottom: 1rem;
        font-family: "Jua-Regular";
        @include small-body-copy;
        @include tablet {
            font-size: .875rem; // Tablet & Desktop
            line-height: 1.625rem;
            font-weight: 600;
        }
    }
}

.cafe__weekly-footer {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Outfit-Medium';
    @include small-body-copy;
}

.cafe-link {
    display: block;
    text-decoration: none;
    
    &:hover {
        opacity: 0.9;
    }
}

.cafe-weekly-image {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    flex-shrink: 0;
    width: 100%;
}