@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.cafe-week-page {

&-content {
    background: url('../../assets/images/cafeoftheweekbackground.png');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    padding-top: 120px;

    @include mobile {
        padding-top: 80px;
    }
}

&-header {
    color: #f49cbb;
    padding-bottom: 8px;
    @include heading;
    font-family: 'Jua-Regular';
}
}

.cafe-week-page-text {
    color: $secondary-brown;
    font-family: 'Jua-Regular';
    font-size: 12px;

    @include tablet {
    font-size: 16px;
    }
}


.page-header {
    font-family: 'Outfit-Medium';
    text-align: center;
}