@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.cafe-week-page {
&-content {
    padding-top: 120px;
}

&-header {
    color: #f49cbb;
    padding-bottom: 8px;
    @include heading;
}
}

.cafe-week-page-text {
    color: #A78682;
    font-family: 'Outfit-Medium';
    font-size: 12px;

    @include tablet {
    font-size: 16px;
    }
}


.page-header {
    font-family: 'Outfit-Medium';
    text-align: center;
}