// CafeGenerator.scss
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.cafe__container {
    background: url("../../assets/images/locationsbackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.25rem;

    @include tablet {
        padding: 1.5rem;
        margin: 1.5rem;
    }

    &-heading {
        text-align: center;
        margin-bottom: 2rem;
        font-family: 'Jua-Regular';
        color: $secondary-brown;
        @include heading;
    }
}

.random-cafe {
    max-width: 56.25rem;
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
    background: #e3c1cb;
    border-radius: 1.25rem;
    border: .125rem solid #CCBEDF;
    padding: 1.5rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.1);

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        img {
            width: 100%;
            max-height: 21.875rem;
            object-fit: cover;
            border-radius: 1.25rem;
            border: .0625rem solid $primary-blue;
        }
    }

    &__details {
        flex: 1;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        @include mobile {
            gap: .5rem;
        }

        .random-cafe__tag {
            background: $secondary-white;
            padding: 0.3rem 0.8rem;
            border-radius: .75rem;
            border: .0625rem solid $primary-blue;
            @include buttonlabel-text;

            &:hover {
                background-color: $secondary-blue;
            }
        }
    }

    &__info {
        margin-bottom: 1rem;
        font-family: 'Outfit-Light';
        font-weight: 600;
        line-height: .9375rem;
        font-size: .75rem;
        @include tablet {
            font-size: 1.125rem;
            line-height: 1.625rem;
            font-weight: 600;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: .25rem;
        color: white;
        margin-bottom: .5rem;
        @include buttonlabel-text;
        font-family: 'Jua-Regular';

        &:hover {
            color: #b199cd;
        }
    }

    &__name {
        font-family: 'Jua-Regular';
        color: $primary-black;
        margin-bottom: .5rem;

        @include mobile {
            font-family: 'Jua-Regular' !important;
            @include buttonlabel-text;
        }
    }

    &__rating {
        color: $secondary-white;
        margin-bottom: .5rem;
        @include buttonlabel-text;
    }

    &__description {
        color: #666;
        margin: 1rem 0;
        margin-bottom: 1rem;
        font-family: 'Outfit-Light';
        font-weight: 600;
        line-height: .9375rem;
        font-size: .75rem;
        @include tablet {
            font-size: .875rem;
            line-height: 1.625rem;
            font-weight: 600;
        }
    }

    &__location {
        color: #8c97c9;
        margin-bottom: 1rem;
        @include small-body-copy;
        font-family: 'Jua-Regular';
        @include tablet {
            font-size: .875rem;
            line-height: 1.625rem;
            font-weight: 600;
        }
    }
}

.random-cafe__like-icon {
    display: block;
}