@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

// Base styles for the container
.photocard-list {
//   padding: 1rem;

  // Scroll Mode
  &.scroll-mode {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.dragging {
      cursor: grabbing;
    }

    > * {
      flex: 0 0 auto;
      margin-right: 20px;
    }

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;

    @include mobile {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
      > * {
        margin-right: 16px;
      }
    }
  }

  // Grid Mode (from your commented-out code)
  &.grid-mode {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    @include tablet {
        padding: 2rem 1.5rem 1.5rem;
        gap: 1.5rem;
    }

    @include desktop {
        width: 100%;

        & > * { 
            width: calc(33.33% - 1rem); 
        }
    }
}
}

// Photocard styles (for both modes)
.photocard {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  @include mobile {
    &:hover {
        transform: scale(0.975); // Shrink effect on hover
      }
  }
}
  