@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

body {
    margin: 0;
    padding: 0;
    padding-top: 0px;
}

// handles layout of react components
#root {
    /* Example: removing any margin or padding applied by default */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

