@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.cafequiz {
  &__page {
    padding-top: 80px;

    @include tablet {
      text-align: center;
      padding-top: 120px;
    }
  }

  &__header {
    text-align: center;
    color: $secondary-brown;
    font-family: "Jua-Regular";
    @include heading;
  }

  &__text {
    text-align: center;
    padding-top: 16px;
    color: $primary-brown;
    padding-bottom: 24px;
    width: 80%;
    margin: 0 auto;
    @include body-copy;
    font-family: "Jua-Regular";
  }

  &__main {
    text-align: center;
    // background-color: #f49cbb;
    background-color: #dacee4;
    border-radius: 16px; // Adjust value as needed
    border: 2px solid $secondary-blue;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
    @include body-copy;

    @include tablet {
      margin-left: 150px;
      margin-right: 150px;
    }

    @include desktop {
      margin-left: 300px;
      margin-right: 300px;
    }
  }
}

.quiz-complete {
  text-align: center;

  &__heading {
    text-align: center;
    padding-top: 16px;
    color: #333;
    font-family: "Jua-Regular" !important;
    @include buttonlabel-text;
  }

  &__persona {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #62B6CB;
    @include body-copy;
    font-family: "Jua-Regular";
  }
}

.quiz__persona {
  color: #2a6f97;
  @include body-copy;
  font-family: "Jua-Regular";
}

.quiz-results {
  // display: flex; // Makes the container a flex container
  //   flex-wrap: wrap; // Allows cards to wrap to the next line
  //   gap: 1rem; // Adds space between cards
  //   padding: 16px; // Adjust padding to suit your design
  //   justify-content: flex-start; // Centers the cards horizontally

  //   @include tablet {
  //       padding: 24px;
  //       gap: 24px;
  //   }

  //   @include desktop {
  //       padding: 24px;
  //       gap: 18px;
  //   }
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;

  @include tablet {
      padding: 2rem 1.5rem 1.5rem;
      gap: 1.5rem;
  }

  @include desktop {
      width: 100%;

      & > * { // Targets each photo card
          width: calc(33.33% - 1rem); // Ensures 3 photos per row
      }
  }
}

.hidden {
  display: none;
}

.button-container {
  button {
    padding: 8px 16px;
    background-color: $primary-purple;
    border: 2px solid $secondary-blue;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    @include small-body-copy;
    

    &:hover {
      background-color: #dacee4;
    }
  }
}
